.card {
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
}

.cardBox {
    width: 1000px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
}

.btnBox {
    display: flex;
    justify-content: center;
}