.card {
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    border-radius: 20px;
}

.cardFront {
    background-color: #d4f5ea;
}

.cardBack {
    background-color: #73948c;
    transform: rotateY(180deg);
}

.cardBox {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.btnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.btn {
    height: 30px;
    width: 40px;
    background-color: white;
    border: 1px solid #83a69d;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: #83a69d;
    transition: 0.5s;
}

.theme {
    text-align: center;
    color: #73948c;
    margin-bottom: 10px;
}

.themeSelector {
    font-size: 20px;
    outline: none;
    background-color: white;
    border: 1px solid #83a69d;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
    color: #73948c;
    margin-bottom: 30px;
}

.selectBox {
    display: flex;
    justify-content: center;
}

.cardAndRepeatBtnBox {
    display: flex;
    position: relative;
}

.repeatBtnBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -80px;
    top: 35%;
}